.popular-foods{
    background: var(--primary-color);
    padding: 64px;
    display: flex;
    flex-direction: column;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../../assets/popular_bg.png");

    overflow: hidden;

}

.popular-foods__title{
    
    font-family: var(--playfair-display);
    font-weight: 600;
    font-size: 56px;
    line-height: 78px;
    color: #fff;
    text-align: center;
}

.popular-foods__filters{
    max-width: 100%;
    margin-top: 48px;
    overflow-x: auto;
    display: flex;
    justify-content: center;
    gap: 24px;

}

.popular-foods__filters-btn{

    display: flex;   
    min-height: 25px;
    padding: 10px 28px;

    flex-direction: row;
    border-radius: 45px;
    align-items: center;

    gap: 10px;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    color: #fff;
    font-family: var(--plus-jakarta-sans);

    border:solid 1px rgb(255, 255, 255,.2) ;
    background-color: rgb(255, 255, 255,.05);

    cursor: pointer;
    
}
.popular-foods__filters-btn img{
    width: 36px;
    height: 36px;
    object-fit: contain;
}

.popular-foods__filters-btn.active{
    background-color: #fff;
    color: var(--primary-color);
    font-weight: 500;
}
.popular-foods__filters-btn:hover{
    background-color: #fff;
    color: var(--primary-color);
    font-weight: 500;
}

.popular-foods__catalogue{
    margin-top: 64px;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;

    gap: 56px;

}

.popular-foods__button{
    width: fit-content;
    display: flex;


    margin: 80px auto 0 ;
    padding: 20px 30px;
    border-radius: 64px;
    border: none;
    align-items: center;


    gap: 10px;
    font-size: 18px;
    line-height: 23px;
    font-weight: 600;
    font-family: var(--plus-jakarta-sans);

    background-color: var(--secondary-color);
    color: #fff;
    
    cursor: pointer;

}

.popular-foods__button img{
    width: 24px;
    height: 24px;
    margin-left:21px;
    object-fit: contain;
}

.popular-foods__card{
    color: #fff;
    font-family: var(--plus-jakarta-sans);

    border:solid 1px rgb(255, 255, 255,.2) ;
    background-color: rgb(255, 255, 255,.05);
    border-radius: 35px;

    padding: 64px;
    display: flex;
    flex-direction: column;

    min-width: 260px;
    height: fit-content;
    align-items: center;
}
.popular-foods__card-image{
    width: 100px;
    height: 84px;
    object-fit: contain;
}
.popular-foods__card-title{
    font-size: 24px;
    line-height: 31px;
    font-weight: 600;
    margin-top: 47px;

    font-family: var(--playfair-display);
    color: #fff;
    text-align: center;
}

.popular-foods__card-details{
    width: 100%;
    margin-top: 32px;
    
    display: flex;
    justify-content: space-between;
}

.popular-foods__card-ratings{
    display: flex;
    align-items: center;
    gap: 10px;
}
.popular-foods__card-ratings img{
    width: 24px;
    height: 24px;
    object-fit: contain;
    
}
.popular-foods__card-ratings p{
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
    font-family: var(--plus-jakarta-sans);
    color: #fff;
}

.popular-foods__card-price{
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    font-family: var(--plus-jakarta-sans);
    color: #fff;
}
.popular-foods__card.active-card{
    background-color: #fff;
    min-width:340px;
}
.popular-foods__card.active-card .popular-foods__card-image{
    width: 214px;
    height: 180px;
    
    
}
.popular-foods__card.active-card .popular-foods__card-title{
    color: var(--black-500);
    font-size: 32px;
}
.popular-foods__card.active-card .popular-foods__card-ratings img{
    width: 32px;
    height: 32px;

}
.popular-foods__card.active-card .popular-foods__card-ratings p{
    font-size: 24px;
    color: var(--gray-100);

}
.popular-foods__card.active-card .popular-foods__card-price{
    font-size: 24px;
    color: var(--secondary-color);

}